<?xml version="1.0" encoding="utf-8"?>
<manifest package="ahang.trend"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".hot.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".idea.IdeaDetailActivity"
            android:label="@string/title_activity_note_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".hot.FavourActivity"
            android:label="@string/title_activity_favour"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".idea.ComposeIdeaActivity">
        </activity>
        <activity android:name=".about.FeedbackActivity">
        </activity>
        <activity android:name=".setting.SettingActivity">
        </activity>
    </application>

</manifest>